<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>403 ERROR</title>
</head>
<body style="background-color: white">
  <div style="height: 200px; background-color: white;"></div>
<div id="container" style="font-family: 'Baloo 2', cursive;background-color: seagreen;  color: white; height: 300px; text-align: center; padding: 40px; font-size: 50px; ">
    <div id="first">
       Sorry, you do not have permission to view this page.
    </div>
    <div style="height: 50px;"></div>
    <div id="secound">
      <a href="/students" style="font-size: x-large; text-align: center; scroll-padding-inline: 30px; text-decoration: none; color: #000000;">GO BACK To STUDENTS LIST</a>
    </div>
</div>
</body>
</html>